numpy==1.23.5
pandas==1.4.4
Pillow==10.3.0
requests==2.27.1
streamlit==1.35.0
streamlit-lottie==0.0.5
streamlit-option-menu==0.3.13
streamlit-on-Hover-tabs==1.0.1
streamlit-analytics==0.4.1
streamlit-extras==0.4.0